# Test / Staging database
TEST_DB_URL=
TEST_DB_USER=
TEST_DB_PASS=
JWT_SECRET=
JWT_EXPIRATION_MS=

# Production database (Railway, PlanetScale, etc.)
PROD_DB_URL=
PROD_DB_USER=
PROD_DB_PASS=

# Email configuration for production/staging (using a real SMTP server)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
APP_MAIL_FROM=